#!/bin/bash

set -Eeufo pipefail

echo "Installing VSCode extensions..."

MAX_RETRIES=5
RETRY_DELAY=5

install_extensions() {
  local file="$1"
  local retries=0

  while (( retries < MAX_RETRIES )); do
    xargs -n 1 code --install-extension < "$file" && return 0
    ((retries++))
    echo "⚠️ Attempt $retries/$MAX_RETRIES failed. Retrying in $RETRY_DELAY seconds..."
    sleep "$RETRY_DELAY"
  done

  echo "❌ Failed to install extensions after $MAX_RETRIES attempts."
  return 1
}

# VSCode extensions
if command -v code &> /dev/null; then
  if [[ -f "$HOME/.local/share/chezmoi/extensions/vscode.txt" ]]; then
    install_extensions "$HOME/.local/share/chezmoi/extensions/vscode.txt" && echo "✅ VSCode extensions installed." || echo "❌ VSCode extensions installation failed."
  else
    echo "⚠️ VSCode extensions file not found. Skipping..."
  fi
else
  echo "⚠️ VSCode is not installed. Skipping VSCode extensions."
fi
